* {
    border: 1px red solid;
}
/* Body */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#e2e1df6b, #000000b3),
        url("../image/fond.webp")
            /* url("https://res.cloudinary.com/dgrszi9wf/image/upload/v1701424797/Dragon/image/fond.jpg") */;
    z-index: -100;
    background-attachment: fixed;
    /* Fixe l'image d'arrière-plan */
    background-size: cover;
    /* Ajuste la taille de l'image d'arrière-plan pour couvrir le conteneur */
    background-position: center;
    /* Centre l'image d'arrière-plan */
    margin: 0;
    padding: 0;
}

/* Titres */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
h1 {
    color: #ec0000;
    text-decoration: underline 2px black solid;
}
/* Conteneur principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Bouton */
button {
    font-size: 1.4em;
    color: #fafafa;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ec0000;
    background: linear-gradient(#e1820799, #000000cc);
    box-shadow: 3px 3px #ec0000;
    cursor: pointer;
    margin: 15px 0;
    list-style-type: none;
    text-decoration: none;
    font-size: 1.4em;
    color: #ec0000;
    text-shadow: 1px 1px #fafafad8;
}

button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}

/* Contenu de la page */
.row {
    margin-bottom: 20px;
}

.player-box {
    text-align: center;
}

.vs {
    width: 100% !important;
}

.choice-img {
    width: 150px;
    height: auto;
}

/* Modal */
.modal-header {
    background-color: #9e6767;
    color: #fafafa;
    border-bottom: none;
}

.modal-content {
    border-radius: 20px;
    box-shadow: 0px 0px 20px #00000099;
}
#choice button {
    width: 5% !important;
}
.pierrepapierciseaux {
    width: 100% !important;
    height: 178px;
}
.pierrepapierciseauxbouton {
    width: fit-content !important;
    margin: 10px;
}
/* CSS pour les appareils mobiles */
@media only screen and (max-width: 600px) {
    /* Centrer le contenu */
    .container {
        margin: auto;
        width: 100%;
        padding: 0 10px;
    }
    #choices button {
        padding: 5px; /* Réduire le rembourrage */
    }
    #choices button img {
        width: 50%; /* Réduire la largeur de l'image */
    }
    /* Ajuster la taille de la police */
    /* h1 {
        font-size: 1.5em;
    } */
    .regle {
        width: 70%;
    }
    /* Ajuster la taille des boîtes de joueur */
    .player-box {
        width: 100%;
    }

    /* Ajuster la taille des images */
    .choice-img {
        max-width: 100px;
        max-height: 100px;
    }
    .pierrepapierciseaux {
        width: 100% !important;
        height: 108px;
    }
    .pierrepapierciseauxbouton {
        width: 20% !important;
        margin: 2px;
    }

    /* Ajuster l'espace entre les éléments */
    .mt-5 {
        margin-top: 1px;
    }
    .vs {
        width: 50% !important;
    }
    /* Ajuster la taille du bouton */
    button {
        font-size: 1em;
        padding: 8px 20px;
        margin: 10px 0;
    }
}
